<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<typeAliases>
  		<typeAlias type="admin.VO.QualificationVO" alias="quavo"/>
  		<typeAlias type="admin.VO.SavingVO" alias="savvo"/>
  		<typeAlias type="admin.VO.Shared_SavingVO" alias="shasvo"/>
  	</typeAliases>
  </configuration>